@font-face {
  font-family: "norwester";
  src: url('/assets/webfonts/norwester.eot');
  src: url('/assets/webfonts/norwester.eot') format('embedded-opentype'),
       url('/assets/webfonts/norwester.woff') format('woff'),
       url('/assets/webfonts/norwester.tff') format('truetype');
}

body {
    font-family: "norwester";
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

nav {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    position: fixed;
    top: 0;
}

nav > div {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
}

header {
    background-image: linear-gradient(135deg, rgb(233, 13, 202), rgb(21, 54, 241) 75%);
    background-repeat: none;
		padding: 5rem 2rem;
}

main > section {
   display: grid;
    place-items: center;
    padding: 2rem 8rem;
    background-image: linear-gradient(135deg, rgb(233, 13, 202), rgb(21, 54, 241) 75%);
    background-repeat: none;
    min-height: 100vh;
}


main > section:nth-child(odd) {
    background: #fff;
}

